/*
 * TuneComposer Stylesheet file.
 */

#root-pane {
    -fx-pref-width: 800;
    -fx-pref-height: 500;
}

.row-divider {
    -fx-stroke: #e8e8e8;
}

.play-line {
    -fx-stroke: #E81A0B;
}

.selected {
    -fx-stroke: #E81A0B;
    -fx-stroke-width: 3px;
}

.unselected {
    -fx-stroke: #000000;
}

.unselected-grouped {
    -fx-stroke: #000000;
    -fx-stroke-dash-array: 2; 
    -fx-stroke-dash-offset: 5; 
}
.spacing {
    -fx-max-width: 161px;
}

.selection-rect {
    -fx-fill: transparent;
    -fx-stroke: #f2c500;
}

.gesture {
	-fx-fill: transparent;
}

.piano {
    -fx-background-color: tomato;
    -fx-fill: tomato;
}

.harpsichord {
    -fx-background-color: orange;
    -fx-fill: orange;
}

.marimba {
    -fx-background-color: yellow;
    -fx-fill: yellow;
}

.church-organ {
    -fx-background-color: green;
    -fx-fill: green;
}

.accordion {
    -fx-background-color: aqua;
    -fx-fill: aqua;
}

.guitar {
    -fx-background-color: teal;
    -fx-fill: teal;
}

.violin {
    -fx-background-color: darkorchid;
    -fx-fill: darkorchid;
}

.french-horn {
    -fx-background-color: fuchsia;
    -fx-fill: fuchsia;
}



.no-volume {
    -fx-background-color: white;
    -fx-fill: white;
}

.note-text{
    -fx-fill: gray; 
}

